.swiper {
    margin-top: 75px;
    
    max-width: 95%;
    height: 530px;
    /* border: 1px solid black; /* For testing visualisation purposes */
  }

  .slide-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 370px;
  }
  
  .ss1 {
    background-image: url(../images/msc-2.png);
  }

  .ss2 {
    background-image: url(../images/msc-1.png);
  }

  .ss3 {
    background-image: url(../images/msc-2.png);
  }

  .project-card-title {
    color: white;
    text-align: center;
  }

  .project-card-title h4 {
    text-align: left;
    padding-left: 15px;
  }

  @media (min-width: 440px) {

    .swiper {
      max-width: 440px;
    }
  }